*.agdai
.*.agda.vim
*.aux
*.hi
*.hp
*.o
*.out
*.swp
*.tag
*~
.#*
.cabal-sandbox/
.stack-work/
/.cabal-project-deps
/.cabal-sandbox/
/.ghc.environment*
/.stack-work
cabal-dev/
cabal.sandbox.config
dist/
.DS_Store